.signup-modal {
  width: 500px;
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.signup-button {
  font-size: 16px;
  font-weight: bold;
  /* text-transform: uppercase; */
  color: #a91010;
  background-color: white;
  border: none;
  border-radius: 3px;
  /* padding: 20px 20px; */
  cursor: pointer;
}

.signup-button:hover {
  color: #d51717;
}