.content {
  width: 1216px;
  margin: 5px auto 0;
  padding-top: 40px;

  .title {
    font-size: 20px;
    font-weight: bold;
  }

  .main-content {
    display: flex;

    .search-wrap {
      display: flex;
      flex-direction: column;
    }

    .search {
      min-width: 400px;
      margin-bottom: 20px;
    }

    .list {
      display: flex;
      flex-direction: column;

      .item {
        display: flex;
        padding: 30px;
        border: 1px solid #e1e0e0;
        border-radius: 10px;
        margin-bottom: 15px;

        .img {
          cursor: pointer;
          width: 100px;
          img {
            height: 220px;
          }
        }
        .desc {
          width: 420px;
          flex-grow: 2;
          cursor: pointer;
        }

        .rate-price {
          width: 150px;
          padding-top: 30px;
          text-align: center;

          .rate-score {
            font-size: 30px;
          }

          .score-wrap {
            width: 100% !important;
          }

          .rate-score-desc {
            font-size: 13px;
            padding-left: 10px;

            .score-wrap {
              width: 100px !important;
            }
          }

          button {
            margin-top: 50px;
          }
        }
      }
      .item:hover {
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
      }
    }

    .wine-info {
      color: black;
      font-size: 16px;
      margin-top: 10px;
      margin-left: 15px;

      p {
        margin-top: 0px;
        margin-bottom: 8px;
      }
      .wine-name {
        font-weight: bold;
      }
    }
  }

  .discount {
    margin-top: 80px;
    background-color: #eeeeee;
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
  }

  .search-condition {
    p {
      font-weight: bold;
    }

    .desc {
      float: right;
      font-size: 11px;
      color: gray;
      padding-right: 30px;
    }

    .button-wrap {
      // width: 80%;
      display: flex;
      gap: 10px;
      flex-wrap: wrap; 

      button {
        min-width: 80px;
        background-color: white;
        border: 1px solid gray;
        border-radius: 20px;
        padding: 10px;
        font-size: 12px;
        cursor: pointer;
      }

      button.active {
        background: #ba1628;
        color: #fff;
      }
    }
  }
}
