.score-wrap {
  display: block;
  margin-top: 10px;
  width: 75px;
}

.score {
  display: block;
  max-width: 5em;
  height: 1em;
  margin: auto;
  background: #eee;
  background: linear-gradient( 90deg, #570023 var( --_score, 50% ), #a9a9a9 0 );
  mask: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" ><path fill="%23000" d="M16 2 L20 12 30 12 22 19 25 30 16 23 7 30 10 19 2 12 12 12 Z"/></svg>' ) 0 0/1em 1em;
}