.headerTitle {
    font-size: 30px;
    font-weight: bold
}

.headerDesc {
    font-size: 20px;
}

.country-toplist{
    display: flex;
    flex-direction: column;
}

.toplist-controls {
    margin-right: 10px;
}

.toplist-button {
    /* width: 15px; */
    cursor: pointer;
    margin-right: 20px;
    /* border-style: solid;
    border-radius: 3px; */
}

.toplist-active {
    background-color: maroon;
}