.update-button {
    background-image: url(../../../assets/img/edit.png);
    background-size: 19px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    width: 20px;
    height: 20px;
    border-style: none;
    padding: 0;
    margin-left: 5px;
    cursor: pointer;
}

.delete-button {
    background-image: url(../../../assets/img/trash.png);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    width: 20px;
    height: 20px;
    border-style: none;
    padding: 0;
    margin-left: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;

    button {
        min-width: 80px;
        background-color: white;
        border: 1px solid gray;
        border-radius: 15px;
        padding: 12px;
        font-size: 12px;
        cursor: pointer;
    }

    button:hover {
        background: #ba1628;
        color: #fff;
    }
}

ul {
    margin: 0px;
}

.rating-star {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px 10px 10px 0px;
}
