/* TODO Add site wide styles */
@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato/Lato-Black.ttf') format('truetype'),
        url('/assets/fonts/Lato/Lato-BlackItalic.ttf') format('truetype'),
        url('/assets/fonts/Lato/Lato-Bold.ttf') format('truetype'),
        url('/assets/fonts/Lato/Lato-BoldItalic.ttf') format('truetype'),
        url('/assets/fonts/Lato/Lato-Italic.ttf') format('truetype'),
        url('/assets/fonts/Lato/Lato-Light.ttf') format('truetype'),
        url('/assets/fonts/Lato/Lato-LightItalic.ttf') format('truetype'),
        url('/assets/fonts/Lato/Lato-Regular.ttf') format('truetype'),
        url('/assets/fonts/Lato/Lato-Thin.ttf') format('truetype'),
        url('/assets/fonts/Lato/Lato-ThinItalic.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
    /* add more src lines for other font weights/styles */
}

@font-face {
    font-family: 'Verdana';
    src: url('https://fonts.googleapis.com/css?family=Verdana&display=swap');
}

/* @font-face {
    font-family: 'GraphikWeb';
    src: url('http://example.com/fonts/graphikweb-regular.woff2') format('woff2'),
         url('http://example.com/fonts/graphikweb-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}   */

* {
    font-family: "Verdana", "Lato";
}