.nav {
  display: flex;
  align-items: center;
}

.profile-dropdown {
  position: absolute;
  width: 120px;
  height: 250px;
  border-style: none;
  background-color: white;
  top: 20px;
  right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: stretch; */
}

.profile-dropdown li {
  list-style: none;
}

.login-profile-dropdown-button {
  position: absolute;
  background-image: url(../../../assets/img/profile_icon.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  width: 30px;
  height: 30px;
  top: 20px;
  right: 50px;
  border-style: none;
  cursor: pointer;
}

.login-profile-button {
  position: absolute;
  background-image: url(../../../assets/img/profile_icon.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  width: 30px;
  height: 30px;
  top: 20px;
  right: 50px;
  border-style: none;
  cursor: pointer;
}

.home-button {
  /* position: absolute; */
  background-image: url(../../../assets/img/VinevinoLogo.png);
  background-size: 130px;
  background-repeat: no-repeat;
  width: 130px;
  height: 40px;
  top: 20px;
  left: 20px;
}

