.profile-dropdown {
    text-align: left;
}

.profile-dropdown a {
    text-decoration: none;
    color: black;
}

.profile-dropdown #profile {
    font-weight: bold;
}
.cart-name {
    text-align: left;
}