.wine-nav-menu {
  padding: 15px;
  width: 1216px;
  margin: 5px auto 0;
  padding: 8px;
  min-height: 40px;
  height: 40px;
  background-color: #fff;

  ul {
    list-style: none;

    li {
      float: left;
      padding-right: 20px;

      a {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #1d1d1d;
        margin-top: 0;
        display: flex;
        align-items: center;
        white-space: nowrap;
      }

      a:hover {
        text-decoration: underline;
      }

      .menuLink_icon svg{
        margin-top: 3px;
        width: 28px;
      }

      a {
        text-decoration: none;
      }
    }
  }
}

.nav-drop-box {
  position: absolute;
  margin-top:10px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  z-index: 99999;
}

.nav-drop-box:after {
  border-top: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  content: "";
  position: absolute;
  top: -9px;
  left: 35px;
}